.logo, p {
    display: flex;
    justify-content: center;
    font-size: 20px;
    
}

.logo {
    font-family: 'canela_light';
    font-size: 70px;
    /* por defecto mt tiene 47px */
    margin-top: 40px; 
     /* por defecto mb tiene 47px */
    margin-bottom: 0px;
}

.parrafo-container {
    background-color: #212529;
    overflow: auto;
 
}

.parrafo {
    background-color: #212529;
    color: white;
    font-family: 'canela_light';
    margin-left: 20px;
    margin-right: 20px;

}