/* .carousel {
    height: calc(100% - 500px);
    width: 100%;
   
} */

/* .carrusel-container {
    height: calc(100vh - 100px);
    width: 100vw;
    background-color: red;
    border: green 10px solid;
    padding: 0px 50px
} */