h1 {
  display: flex;
  justify-content: center;
}

.entradas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pastas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carnes-y-pescados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vinos-y-espumantes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postres-y-cafes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

dt {
  text-transform: uppercase;
}

dd {
  text-transform: lowercase;
}
